.v10 {position: relative; top: 10%; transform: translateY(-10%); }
.v20 {position: relative; top: 20%; transform: translateY(-20%); }
.v30 {position: relative; top: 30%; transform: translateY(-30%); }
.v40 {position: relative; top: 40%; transform: translateY(-40%); }
.v45 {position: relative; top: 45%; transform: translateY(-45%); }
.v50 {position: relative; top: 50%; transform: translateY(-50%); }
.v60 {position: relative; top: 60%; transform: translateY(-60%); }
.v70 {position: relative; top: 70%; transform: translateY(-70%); }
.v80 {position: relative; top: 80%; transform: translateY(-80%); }
.v90 {position: relative; top: 90%; transform: translateY(-90%); }

.split-80>.column:first-of-type {width: 80%; height:100%; position: absolute; top: 0; left: 0; }
.split-80>.column:nth-of-type(2) {width: 20%; height:100%; position: absolute; top: 0; right: 0;}
.split-80>.row:first-of-type {height: 80%; width:100%; position: absolute; top: 0; left: 0; }
.split-80>.row:nth-of-type(2) {height: 20%;width:100%;position: absolute; bottom: 0;left: 0;}

.split-90>.column:first-of-type {width: 90%; height:100%; position: absolute; top: 0; left: 0; }
.split-90>.column:nth-of-type(2) {width: 10%; height:100%; position: absolute; top: 0; right: 0;}
.split-90>.row:first-of-type {height: 90%; width:100%; position: absolute; top: 0; left: 0; }
.split-90>.row:nth-of-type(2) {height: 10%;width:100%;position: absolute; bottom: 0;left: 0;}


.split-1-8-1>.column:first-of-type {width: 10%; height:100%; position: absolute; top: 0; left: 0; }
.split-1-8-1>.column:nth-of-type(2) {width: 80%; height:100%; position: absolute; top: 0; left: 10%;}
.split-1-8-1>.column:nth-of-type(3) {width: 10%; height:100%; position: absolute; top: 0; right: 0;}

.split-1-8-1>.row:first-of-type {height: 10%; width:100%; position: absolute; top: 0; left: 0; }
.split-1-8-1>.row:nth-of-type(2) {height: 80%; width:100%; position: absolute; left: 0; top: 10%;}
.split-1-8-1>.row:nth-of-type(3) {height: 10%; width:100%; position: absolute; bottom: 0; left: 0;}

.transp {
  color: #fcfcfc00;
}

.font1-5 {font-size: 1.5em;}
.font1-75 {font-size: 1.75em;}
.font1-85 {font-size: 1.85em;}
.font0-65 {font-size: 0.65em;}
.font0-75 {font-size: 0.75em;}
.font0-85 {font-size: 0.85em;}
.font0-90 {font-size: 0.9em;}
.font0-95 {font-size: 0.95em;}

<!-- Following css was taken from https://tcgriffith.github.io/xaringan_gh/ -->
<!--## CSS styles-->
<style>
.resp-container {
    position: relative;
    /* overflow: hidden; #comment out this line to allow a larger embed*/
    padding-top: 56.25%;
}

.testiframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}
</style>
